<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="us.forkloop.trackor"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
<!--
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
-->

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/TrackorActionBarTheme" >
        <activity
            android:name="us.forkloop.trackor.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="us.forkloop.trackor.DetailActivity"
            android:theme="@style/TrackorActionBarNoTitleTheme"
            android:label="@string/title_activity_detail"
            android:parentActivityName="us.forkloop.trackor.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="us.forkloop.trackor.MainActivity" />
        </activity>
        <activity
            android:theme="@style/TrackorActionBarNoTitleTheme"
            android:name="us.forkloop.trackor.SettingsActivity"
            android:parentActivityName="us.forkloop.trackor.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="us.forkloop.trackor.MainActivity" />
        </activity>
        <activity
            android:name="us.forkloop.trackor.CaptureActivity"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name="us.forkloop.trackor.WebActivity"
            android:theme="@style/TrackorActionBarNoTitleTheme" />
        <receiver
            android:name="us.forkloop.trackor.view.TrackorWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/appwidget_info" />
        </receiver>
    </application>
</manifest>